<h1 class="title"><span>About Me</span></h1>
<div class="row">
  <div class="col-6 about-text">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, odit? Officiis perferendis quia asperiores voluptate, dolorem eum voluptas eos! Alias odio dicta natus quibusdam. Velit beatae quam doloremque tempora eaque!
  </p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, reprehenderit. Deserunt libero praesentium adipisci incidunt atque at? Voluptates, necessitatibus atque, saepe explicabo minus animi distinctio ducimus nostrum beatae soluta ipsam.
  Voluptatibus eveniet doloremque cumque perferendis fugit consequuntur iste earum. Fuga quod, commodi magni exercitationem est incidunt cupiditate aut earum hic nostrum amet aliquid possimus maxime libero. Laudantium nam aut odit.
  Adipisci consectetur pariatur, eum veniam, harum incidunt sunt iure voluptates distinctio laudantium ad autem nemo ipsam reprehenderit fugiat! Laudantium quibusdam vero excepturi optio at enim. Hic aut animi impedit quia.
  </p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, voluptatem nihil rerum minus debitis saepe quod sint error quis ea! Sint deserunt dicta minima, officiis dolores quis culpa esse! Aliquid.
  Sit neque enim fuga doloribus nobis perspiciatis quam ad voluptatibus animi non, repellat alias veniam numquam officiis unde atque magni similique maiores tempora corrupti necessitatibus eveniet. Accusantium ipsa asperiores excepturi.
  </p>
  </div>
  <div class="col-6">
    <%= image_tag "jacopo.png", :class => "jacopo-pic" %>
  </div>

</div>
<br><br><br><br><br><br><br>
