<h1>About Me</h1>
<div class="row">
  <div class="col-8">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus exercitationem commodi voluptas dicta quod illo sapiente laborum, nesciunt fugit expedita placeat tempora corporis dolore praesentium tenetur eum vitae saepe! Accusamus.
  Autem illum consectetur odio nam magni eum. Doloribus sequi molestias ex incidunt perspiciatis sit obcaecati neque hic esse laboriosam doloremque consectetur illum nisi, repudiandae corporis mollitia similique nesciunt, eligendi autem!
  Totam ut iusto, ducimus aspernatur obcaecati repellat odio voluptas quia odit aliquid praesentium ipsa neque nam placeat qui voluptate, explicabo aperiam similique non maiores. Dolores accusamus obcaecati voluptas repellat blanditiis?
  Quasi fugit quibusdam sequi modi facere commodi reprehenderit architecto, praesentium nesciunt, minima voluptatum corrupti? Soluta, fugit. Quidem laboriosam dolorum maxime, minima consequatur error dolore sapiente enim a architecto, accusantium perferendis?
  Vel sint nostrum iusto hic, voluptas laudantium necessitatibus nulla dicta. Ut, tempora commodi assumenda placeat quia, impedit temporibus eaque sapiente odit suscipit quo et. Illum consequuntur harum vitae eius ea!
  </div>
  <div class="col-4">
    <%= image_tag("how_to_collect.png")  %>
  </div>

</div>
