<div class="experience">
  <h1 class="title"><span>Experience</span></h1>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 list">
      <p>Here are some of the technologies I have been working with.</p>
      <ul>
          <li><i class="devicon-javascript-plain" style="color:#3ab4b5"></i> JavaScript</li>
          <li><i class="devicon-rails-plain" style="color:#3ab4b5"></i> Rails</li>
          <li><i class="devicon-ruby-plain" style="color:#3ab4b5"></i> Ruby</li>
          <li><i class="devicon-html5-plain" style="color:#3ab4b5"></i> HTML</li>
          <li><i class="devicon-css3-plain" style="color:#3ab4b5"></i> Css3</li>
          <li><i class="devicon-sass-original" style="color:#3ab4b5"></i> Sass</li>
          <li><i class="devicon-git-plain" style="color:#3ab4b5"></i> Git</li>
          <li><i class="devicon-yarn-plain" style="color:#3ab4b5"></i> Yarn</li>
        </ul>
        <br>
    </div>
      <div class="col-lg-6 col-md-12 col-sm-12 exp-text">
        <img src="https://www.lewagon.com/default_meta_image.jpg" alt="lewagon" class="lewagon-image">
        <!--<p>I create successful responsive websites that are fast, easy to use, and built with best practices. The main area of my expertise is front-end development, HTML, CSS, JS, building small and medium web apps, custom plugins, features, animations, and coding interactive layouts.</p> !-->
        <h3>Le Wagon Bootcamp</h3>
        <p>A 24 week part-time intensive coding bootcamp, where I learned  HTML, CSS, Bootstrap,
        JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. Designed, implemented and shipped
        to production a clone of AirBnB and a Rails prototype: redore.co.uk</p>
        <p>The first part of the bootcamp was focused on programming foundations, writing robust code with object-oriented programming and build MVC software from scratch mastering relational databases and SQL.
        After that I developed responsive web pages with HTML and CSS. I Mastered modern JavaScript and all the tools and environment like Webpack and Node.js.
        By the end of the course I built with a team of 3 students a complete web applications with Ruby on Rails and deployed it online on real domain that everyone can access. I also had a good understanding of product development tools & workflow, validate my UX on Figma, organise team work and collaborate on GitHub. </p>
      </div>
  </div>
</div>
