<h1 class="title"><span>Experience</span></h1>
<div class="row">
  <div class="col-6">
    <ul>
        <li><i class="devicon-javascript-plain" style="color:#3ab4b5"></i> JavaScript</li>
        <li><i class="devicon-rails-plain" style="color:#3ab4b5"></i> Rails</li>
        <li><i class="devicon-ruby-plain" style="color:#3ab4b5"></i> Ruby</li>
        <li><i class="devicon-html5-plain" style="color:#3ab4b5"></i> HTML</li>
        <li><i class="devicon-css3-plain" style="color:#3ab4b5"></i> Css3</li>
        <li><i class="devicon-sass-original" style="color:#3ab4b5"></i> Sass</li>
        <li><i class="devicon-git-plain" style="color:#3ab4b5"></i> Git</li>
        <li><i class="devicon-yarn-plain" style="color:#3ab4b5"></i> Yarn</li>
      </ul>
      <br>
      <p>Here are some of the technologies I have been working with.</p>
  </div>
    <div class="col-6">
    <p>I create successful responsive websites that are fast, easy to use, and built with best practices. The main area of my expertise is front-end development, HTML, CSS, JS, building small and medium web apps, custom plugins, features, animations, and coding interactive layouts.</p>
    </div>
</div>
<br><br>
<div class="container mt-3", style="max-width: 500px">

</div>
