<div class="experience">
  <h1 class="title"><span>Experience</span></h1>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 list">
      <p>Here are some of the technologies I have been working with.</p>
      <ul>
          <li><i class="devicon-javascript-plain" style="color:#3ab4b5"></i> JavaScript</li>
          <li><i class="devicon-rails-plain" style="color:#3ab4b5"></i> Rails</li>
          <li><i class="devicon-ruby-plain" style="color:#3ab4b5"></i> Ruby</li>
          <li><i class="devicon-html5-plain" style="color:#3ab4b5"></i> HTML</li>
          <li><i class="devicon-css3-plain" style="color:#3ab4b5"></i> Css3</li>
          <li><i class="devicon-sass-original" style="color:#3ab4b5"></i> Sass</li>
          <li><i class="devicon-git-plain" style="color:#3ab4b5"></i> Git</li>
          <li><i class="devicon-yarn-plain" style="color:#3ab4b5"></i> Yarn</li>
        </ul>
        <br>
    </div>
      <div class="col-lg-6 col-md-12 col-sm-12 exp-text">
        <img src="https://www.lewagon.com/default_meta_image.jpg" alt="" class="lewagon-image">
        <!--<p>I create successful responsive websites that are fast, easy to use, and built with best practices. The main area of my expertise is front-end development, HTML, CSS, JS, building small and medium web apps, custom plugins, features, animations, and coding interactive layouts.</p> !-->
        <h3>Le Wagon Bootcamp</h3>
        <p>24 week part-time intensive coding bootcamp learning HTML, CSS, Bootstrap,
        JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. Designed, implemented and shipped
        to production a clone of AirBnB and a Rails prototype of redore.co.uk</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum id odit voluptas explicabo consequuntur at obcaecati, atque saepe perferendis iusto ipsam autem nisi nesciunt quas non expedita, laudantium repudiandae error!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit ea, earum doloribus, eum porro tempora consequatur sapiente quo sint ratione dolor itaque voluptate, a quia soluta ex veritatis similique autem?</p>
      </div>
  </div>
</div>
