<h1 class="title"><span>Experience</span></h1>
<div class="row">
  <div class="col-6 image">
<%= image_tag "how_to_collect.png" %>
  </div>
    <div class="col-6">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium enim quam quae voluptates atque quaerat nisi, id numquam natus expedita dicta laboriosam exercitationem, sit magnam voluptatibus explicabo ipsa veritatis ipsum.</p>
    </div>
</div>
<br><br>
<div class="container mt-3", style="max-width: 500px">
<p>Here are some of the technologies I have been working with.</p>
    <ul>
        <li><i class="devicon-javascript-plain" style="color:#3ab4b5"></i> JavaScript</li>
        <li><i class="devicon-rails-plain" style="color:#3ab4b5"></i> Rails</li>
        <li><i class="devicon-ruby-plain" style="color:#3ab4b5"></i> Ruby</li>
        <li><i class="devicon-html5-plain" style="color:#3ab4b5"></i> HTML</li>
        <li><i class="devicon-css3-plain" style="color:#3ab4b5"></i> Css3</li>
        <li><i class="devicon-sass-original" style="color:#3ab4b5"></i> Sass</li>
        <li><i class="devicon-git-plain" style="color:#3ab4b5"></i> Git</li>
        <li><i class="devicon-yarn-plain" style="color:#3ab4b5"></i> Yarn</li>
      </ul>
</div>

<br><br><br><br><br><br><br>
<div style="padding-bottom: 800px">
</div>
