<div class= "social">
<ul>
<li><a href="https://github.com/Jacopobelli5"><i class="bi bi-github"></i></a></li>
<li><a href="https://www.linkedin.com/in/jacopobelli510"><i class="bi bi-linkedin"></i></a></li>
<li><a href="https://www.instagram.com/ja_shepha/?hl=en"><i class="bi bi-instagram"></i></a></li>
<li><a href="mailto:jacopobelli510@gmail.com"><i class="bi bi-envelope-fill"></i></a></li>
</ul>
<div class= "vertical">
</div>
</div>
