<h1 class="title"><span>Works</span></h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col text-center pt-5">
  <h3>FloatYaBoat</h3>
    <div class="card h-100">
       <%= image_tag "float.png", :class => "card-image-top filtered", :max_width => "00px" %>
    <a href="http://floatyaboat.herokuapp.com">
      <div class="card-body">
        <p class="card-text">This is my first project devoleped with my team at the bootcamp. It's an Airbnb clone with the possibility to rent boats instead of flats.</p>
      </div>
      </a>
    </div>
  </div>

  <div class="col text-center pt-5">
  <h3>Redore</h3>
    <div class="card h-100">
      <%= image_tag "redore.png", :class => "card-image-top", :max_width => "500px" %>
    <a href="http://www.redore.co.uk">
      <div class="card-body">
        <p class="card-text">Redore is a web app that consents users to have their unwanted items to be collected and then recycled, restored or doanted.</p>
      </div>
    </a>
    </div>
  </div>

  <div class="col text-center pt-5">
  <h3>Movie Watch List</h3>
    <div class="card h-100">
     <%= image_tag "watchlist.png", :class => "card-image-top", :max_width => "500px" %>
     <a href="https://github.com/Jacopobelli5/rails-watch-list-1">
    <div class="card-body">
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
     </a>
    </div>
  </div>
</div>
