.about {
  color: white;
  color: #8d8d8d;
  font-family: $body-font;
  font-size: 20px;
  font-weight: 100;
  min-height: 80vh;

  .about-text {
    box-shadow: 0 0 15px rgba($color: #293a4e, $alpha: 0.2);
    padding: 40px;
    border-radius: 5px;
    text-align: left;
    background-color: #0e141b;
    max-width: 600px;
  }

  .jacopo-pic {
    filter: brightness(0.9);
    margin-top: 30px;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba($color: #313131, $alpha: 0.7);
    &:hover {
      cursor: pointer;
      max-width: 510px;
      transition: 500ms;
      filter: brightness(1);
    }
  }
}

@media screen and (max-width: 980px) {
  .about-text {
    min-width: 600px;
  }
  .image {
    display: none;
  }
  .jacopo-pic {
    width: 400px;
  }
}

@media screen and (max-width: 700px) {
  .image {
    display: none;
  }
}
