.banner {
  color: rgb(252, 252, 252);
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;

  .description {
    width: 500px;
    font-size: 20px;
    color: #8d8d8d;
    font-family: $body-font;
    font-weight: 100;
  }

  h1 {
    color: #efefef;
    font-family: $headers-font;
    font-size: 75px;
    transition: text-shadow 0.5s;
    margin-bottom: 0px;
  }
  h1:hover {
    text-shadow: 0.03em 0.03em 0.03em #3ab4b5;
  }

  h2 {
    margin-top: 0px;
    align-self: left;
    font-size: 75px;
    color: #8d8d8d;
    font-family: $headers-font;
  }

  .small-p {
    margin-bottom: 5px;
    font-family: $small-font;
    padding-left: 20px;
    font-size: 18px;
    font-weight: lighter;
    color: #2afaf7;
  }
}

.c-banner {
  padding-inline: 200px;
}

@media only screen and (max-width: 1000px) {
  .c-banner {
    padding-left: 50px;
  }
  .banner {
    margin-left: auto;
    h1 {
      font-size: 7vw;
    }
    h2 {
      font-size: 7vw;
    }

    .small-p {
      font-size: 16px;
    }

    .description {
      p {
        font-size: 18px;
      }
    }
  }
}
