.experience {
  min-height: 80vh;
  h1 {
    margin-top: 0;
  }
  color: #8d8d8d;
  font-size: 20px;
  ul {
    font-size: 20px;
    color: #8d8d8d;
    font-family: $body-font;
    font-weight: 100;
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 200px));
    gap: 10px 10px;
    padding: 5px;
    margin: 20px 0px 0px;
    list-style: none;
  }
  p {
    font-weight: lighter;
  }
  .exp-text {
    box-shadow: 0 0 15px rgba($color: #18222d, $alpha: 0.2);
    padding: 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #141b25;
    max-width: 600px;
    max-height: 830px;
    &:hover {
      cursor: pointer;
      max-width: 610px;
      max-height: 840px;
      transition: 700ms;
      .lewagon-image {
        pointer-events: painted;
        transition: 800ms;
        max-width: 455px;
        filter: brightness(1);
      }
    }
    h3 {
      color: rgb(249, 249, 249);
      font-family: $body-font;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    p {
      overflow: hidden;
      max-width: 540px;
    }
  }
  .list {
    margin-top: 100px;
  }

  .lewagon-image {
    filter: brightness(0.8);
    max-width: 450px;
  }
}

@media screen and (max-width: 1200px) {
  .experience {
    .lewagon-image {
      display: none;
    }
    .exp-text {
      max-height: none;
      height: auto;
      max-width: none;
      &:hover {
        max-width: none;
        max-height: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .list {
    p {
      text-align: center;
    }
  }
}
