#wrapper{
  background-color: rgb(34, 214, 210);
}

.cards{
  margin-top: 500px;
  color: rgb(250, 250, 250);

  p{
    font-family: $body-font;
  }

  h5 {
    font-family: $body-font;
  }

  .card-info{
  margin-inline: 10px;
  background-color: #171E26;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .card-title{
    text-align: center;
    font-size: 24px;
  }
  .card-text{
    margin-top: 15px;
  }

  }

}
