.nav {
    font-family: $body-font;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: rgb(20, 20, 23);

    li {
      padding: 0px 20px;
      display: inline-block;
      a{
        text-decoration: none;
        color: aliceblue;
        transition: all 0.5s ease 0s;
      }
      a:hover{
        color: rgb(95, 255, 21);
      }
    }
  }
