.title {
  color: white;
  font-size: 50px;
  font-family: $body-font;
  width: 100%;
  text-align: center;
  line-height: 0.1em;
  margin: 80px 0 80px;
  span {
    background-color: #0e141b;
    padding: 5px 15px;
    padding-top: 10px;
    border-radius: 5px;
  }
}
