.title {
  color: white;
  font-size: 50px;
  font-family: $body-font;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(233, 233, 233);
  line-height: 0.1em;
  margin: 80px 0 80px;
  span {
    background-color: #0e141b;
    padding: 0 10px;
  }
}
.experience {
  ul {
    font-size: 20px;
    color: #8d8d8d;
    font-family: $body-font;
    font-weight: 100;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 10px 10px;
    padding: 5px;
    margin: 20px 0px 0px;
    list-style: none;
  }
}
